body {
  background-color: #e0e0e0;
  margin: 0;
}

h1.welcome {
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 0;
  background-color: purple;
}

.sections {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 500px;
  margin: 0;
  padding: 0%;
}

.nav-bar {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: 100%;

  vertical-align: top;
}

.nav {
  padding: 10px;
  margin: auto;
}

.link {
  padding: 15px 5px;
  border-bottom: solid 1px black;

  list-style-type: none;
  text-align: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  text-align: left;
}

.search button {
  margin: 5px 0px 5px 100px;
  padding: 5px;
  width: 60px;
  background-color: lightgrey;
}

.content-sections {
  display: inline-block;
  width: 80%;
  min-width: 140px;
  height: 100%;

  background: #f0f0f0;
  border: solid;
  vertical-align: middle;
  padding: 25px;
}

.sub-section {
  border-bottom: solid 1px black;
}

section.covid-update {
  border-bottom: solid 1px black;
}

.covid-update strong {
  color: purple;
}

section.address-details {
  display: flex;
  padding-bottom: 10px;
  border-bottom: solid 1px black;
}

.address-details img {
  width: 50%;
  margin: 5px;
  border-radius: 8px;
}

h2,
h3,
p,
div,
video {
  padding: 5px;
}
