body {
  background-color: #e0e0e0;
  margin: 0;
}

h1.welcome {
  font-size: 60px;
  text-align: center;
  color: white;
  padding: 20px;
  margin: 0;
  background-color: purple;
}

.sections {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 500px;
  margin: 0;
  padding: 0%;
}

.nav-bar {
  display: inline-flex;
  flex-direction: column;
  width: auto;
  height: 100%;

  vertical-align: top;
}

.nav {
  padding: 10px;
  margin: auto;
}

.link {
  padding: 15px 5px;
  border-bottom: solid 1px black;

  list-style-type: none;
  text-align: left;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: auto;
  text-align: left;
}

.search button {
  margin: 5px 0px 5px 100px;
  padding: 5px;
  width: 60px;
  background-color: lightgrey;
}

.content-sections {
  display: inline-block;
  width: 80%;
  min-width: 140px;
  height: 100%;

  background: #f0f0f0;
  border: solid;
  vertical-align: middle;
  padding: 25px;
}

.sub-section {
  border-bottom: solid 1px black;
}

.covid-update strong {
  color: purple;
}

section.address-details {
  display: flex;
  padding-bottom: 10px;
}

.address-details img {
  width: 50%;
  margin: 5px;
  border-radius: 8px;
}

form {
  display: flex;
}

fieldset {
  border: thin solid lightblue;
  margin: 0;
  padding: 10px;
  width: 100%;
}
legend {
  font-weight: bold;
  float: left;
  margin-bottom: 0.5em;
  width: 100%;
}

.form-filler {
  padding: 8px;
  display: inline-block;
  width: 150px;
  white-space: nowrap;
  margin-top: 20px;
}

input[type="radio"] {
  margin-left: 5px;
}

.form-filler-checkbox {
  width: 35px;
}

label[for="self"] {
  margin-left: 135px;
}

label[for="another"] {
  margin-left: 10px;
}

.row label {
  padding: 20px;
  display: inline-block;
  width: 150px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="textarea"] {
  width: 400px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type="textarea"] {
  height: 100px;
}

.submit-button {
  margin-left: 500px;
  width: 98px;
  height: 30px;
}

h2,
h3,
p,
div,
video {
  padding: 5px;
}
